#content{
    margin:10px 50px 0px 50px;
 
}
#content img{
    margin-left: 525px;
}
#searchbox{
    background-color:#EEEEEE;
    width: 100%;
    height: 80px;
    
}
#search{
    margin-left: 525px;
}
.btn{
    margin-left:50px;
}
#greenboxs a{
display: block;
}
#greenboxs span{
    display: block;
}
#box1{
    
    text-align: center;
    float: left;
    width: 40%;
    background-color:#7EE5DA;
    height:80px;
   
}
#box2{
    text-align: center;
    float: left;
    width: 20%;
    background-color:#70CCC2;
    height:80px;
    font-size: 14px;
}

#box3{
    font-size: 12px;
    text-align: center;
    float: left;
    width: 40%;
    background-color:#62B3AA;
    height:80px;
}